#bg
  .module
    %ul
      %li.tab.activeTab
        %img.icon{alt: "", src: "http://i.imgur.com/Fk1Urva.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/ZsRgIDD.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/34Q50wo.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/LCCJ06E.png"}/
    %form.form
      %input.textbox{placeholder: "Email", type: "text"}/
      %input.textbox{placeholder: "Password", type: "text"}/
      %input.textbox{placeholder: "Password Comfirmation", type: "text"}/
      %input.form-button{type: "button", value: "Next"}/