.main_body.form-style
  .alert.alert-info
    %p Thanks for verifying your account.  Our funding partners have received your information and funding offers will be available soon.  In the mean time, if you have any questions do not hesitate to give us a call.

    %p 888-906-4909