.main_body.form-style
  %h3.form-header
    = "You Have #{@business.offers.length} Offers!"
  .row.offer-body
    - for i in 0...(@business.offers.length)/2
      - offer = @business.offers[i]
      = render :partial => "offer_section", :locals => {:offer => offer, :i => i} 

    - for i in (@business.offers.length/2)...@business.offers.length
      .hidden-offers
        - offer = @business.offers[i]
        = render :partial => "offer_section", :locals => {:offer => offer, :i => i}
  %ul.pager
    %li
      %a{class: "btn btn-default", onclick: "display_offers()"} View Others

  

  :javascript

    $('.button .btn.offer-btn').click(function(){
      var id = $(this).data('id');
      
      $('#disclaimerModal').find('button.btn').data("id", id);
      console.log($('#disclaimerModal').find('button.btn').data('id'));
      console.log(id);
    });

    function display_offers(){
      $(".hidden-offers" ).css("display", "block");
      $(".pager").css("display", "none");
    }

    function accept_offer_disclaimer(node){
      console.log($(node));
      var update_url;
      var id = $(node).data('id');
      console.log(id);
      update_url = ("/business/insert/"+id);
      $.ajax({
        type: "PUT",
        url: update_url,
        data: {
          business: {
            is_accept_offer_disclaimer: true
          }
        }
      });
      $('#disclaimerModal').modal('hide');
      $('#myModal').modal('show');

    }