.web_body
  .container
    .main_body
      .alert.alert-warning
        = "Let’s get you funded!  In order to do so we need you to check your e-mail and click on the activation link to continue the application process."