.web_body
  .container
    .main_body
      .alert.alert-warning
        = "You have offers waiting! To view them please click on the verification link in the e-mail we just sent you. Be sure to check your SPAM folder."