.web_body
  .paper-section
    .paper-section-header
      %span Qualification
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .email-confirmation
              .email-confirmation-header
                %span Sorry you do not qualify.
              .email-confirmation-body
                .email-confirmation-body-info
                  %span Unfortunately, we will not be able to help you secure business funding at this time. We wish you the best in your search to secure business funding.