.web_body
  .paper-section
    .paper-section-header
      Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .account
            .account-header
              %span Sorry you do not qualify
            .account-body
              .account-body-info
                %span Unfortunately, we will not be able to help you secure business funding at this time. Here are some resources you may want to explore as you pursue your search.
              .account-body-disqualified-links
                %ul
                  %li
                    %a{href:"www.google.com"} www.google.com
                  %li
                    %a{href:"www.bing.com"} www.bing.com
                  %li
                    %a{href:"www.yahoo.com"} www.yahoo.com