.web_body
  .paper-section
    .paper-section-header
      Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      %p Sorry you currently do not qualify for funding atm. Please comeback next months to see if you qualify.