.web_body
  .row.main-title-wrap
    .col-md-6.col-md-offset-3
      %h1.main-title Welcome!
      = render "layouts/shared"
  .container
    .main_body
      .alert.alert-warning
        = "Sorry you currently do not qualify for this program. Please update your account next month."