.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .account
        .account-header
          %span You Do Not Qualify
        .account-body
          %span Based on the information you provided us with, it appears you do not qualify for a merchant cash advance at this time. Please check your email for a further explanation of why, and what you can do to qualify in the future.