.web_body
  .container
    .main_body
      .alert.alert-warning
        = "Based on the information you provided us with, it appears you do not qualify for a merchant cash advance at this time. Please check your email for a further explanation of why, and what you can do to qualify in the future."