.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .account
              .account-top.clearfix
                .account-top-image
                  = image_tag("yuliya_account.png")
                .account-top-info
                  .account-top-info-greeting
                    %span 
                      = "Hi #{@business.owner_first_name},"
                  .account-top-info-message
                    %span I'm excited because you qualify to get funded by one of our specially selected funding partners. You will receive a phone call soon to get started in your process.
              .account-footer
                %span If you have any questions do not hesitate to me directly.
