.web_body
  .paper-section
    .paper-section-header
      Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      %p Congratulation! You qualify for one of our funding partners. You should recieve a phone call soon.