.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .account
              .account-header
                %span Next Steps
              .account-body
                .account-body-info
                  %span Based on the information you provided us, we will not be able to fund you at this time.  However, we have good news!  We have a network of partners who are ready to compete for your business.  As you know, when funders compete you win.  
                .account-body-info
                  %span We have created a masked phone number for you that will prevent your mobile phone number from being abused.  Funders will contact you on that number and calls will be routed to your cell phone.  When you are tired of dealing with them, simply tell us when you'd like us to terminate your masked phone number.  
                .account-body-info
                  %span Please check your SMS messages for your Buynance Number™