.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .account
        .account-header
          %span You Qualify for Funding Market
        .account-body
          .account-body-info
            %span We can't fund you at this time, however, we can quickly start a competition amongst competing firms who specialize in helping business owners like you. As you know, when 'funders compete, you win.
          .account-body-how-it-works
            .account-body-how-it-works-header
              %span How it Works
            .account-body-how-it-works-body
              %ol
                %li
                  %span We give you a temporary mobile phone number to mask your real number. This prevents anyone abusing the use of your mobile phone number while protecting your privacy.
                %li
                  %span We post your deal to our preferred funders.
                %li
                  %span They will compete for your business guaranteeing you the lowest rate possible.