.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .account
        .account-header
          %span You Qualify for Funding
        .account-body
          %span Congratulation! You qualify to get funded by one of our specially selected funding partners. You will receive a phone call soon to get started in your process.