.web_body
  .paper-section
    .paper-section-header
      Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      %p Unfortunately we could not pair you up with one of our funding partners but you have been entered into the broker market. We have given you the phone number below.
      %p
        = @business.routing_number.phone_number
