.web_body
  .paper-section
    .paper-section-header
      Account
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      %p Congrats you qualify for the refinance program. We are connecting you with one of our partners and they will be with you shortly!