.compare-info-fluid-container
  .compare-info
    .compare-info-title
      %span Compare Buynance
    .compare-info-header
      %span More Options and Easier Funding for Small Business
    .compare-info-subheader
      %span Use chart below to compare business loan and advance products offered by our network
