.compare-table-fluid-container
  .compare-table
    .compare-table-row.compare-table-row-header
      .compare-table-column
      .compare-table-column.highlight-blue
        .header-column-left
          %span Business Term Loans
        .header-column-right
          .header-column-right-flap.blue-flap
          .header-column-right-remainder
      .compare-table-spacing
      .compare-table-column.highlight-green.clearfix
        .header-column-left
          %span Revenue-Based Financing
        .header-column-right
          .header-column-right-flap
          .header-column-right-remainder
      .compare-table-spacing
      .compare-table-column.highlight-orange
        .header-column-left
          %span Merchant Cash Advance
        .header-column-right
          .header-column-right-flap.orange-flap
          .header-column-right-remainder
      .compare-table-column
        .header-column-left{style: "width: 100%; text-align: center; background-color: transparent; font-family: 'latobold', Arial, sans-serif; color: #606060;"}
          %span Banks
          %br
    .compare-table-row-odd.compare-table-row-odd-first
      .compare-table-column
        %span Availability:
      .compare-table-column
        %span High
      .compare-table-column.revenue-background
        %span Highest
      .compare-table-column.merchant-background
        %span High
      .compare-table-column
        %span Low
    .compare-table-row-even
      .compare-table-column
        %span Time of Funding:
      .compare-table-column
        %span 72 hours
      .compare-table-column
        %span 72 hours
      .compare-table-column
        %span 48 hours
      .compare-table-column
        %span Weeks to Months
    .compare-table-row-odd
      .compare-table-column
        %span For You If:
      .compare-table-column
        %span Strong credit and cash flow.
      .compare-table-column.revenue-background
        %span Strong cash flow, moderate credit.
      .compare-table-column.merchant-background
        %span Strong credit card sales
      .compare-table-column
        %span Large, established corporations
    .compare-table-row-even
      .compare-table-column
        %span Example of Business Types:
      .compare-table-column
        %span Manufacturing, Medical, Dental, and more
      .compare-table-column
        %span Over 700 industries served.
      .compare-table-column
        %span Restaurants, Retail, Entertainment, and more.
      .compare-table-column
        %span Large-scale Manufacturing, Enterprise Software, Aviation
    .compare-table-row-odd
      .compare-table-column
        %span Typical Amounts:
      .compare-table-column
        %span $25,000 - $500,000
      .compare-table-column.revenue-background
        %span $5,000 - $250,000
      .compare-table-column.merchant-background
        %span $2,500 - $150,000
      .compare-table-column
        %span Typically $1+ Million
    .compare-table-row-even
      .compare-table-column
        %span Terms:
      .compare-table-column
        %span 6 - 24 Months
      .compare-table-column
        %span 3 -12 Months
      .compare-table-column
        %span Varies (6-9 Months)
      .compare-table-column
        %span Years
    .compare-table-row-odd
      .compare-table-column
        %span Collateral Required:
      .compare-table-column
        %span None
      .compare-table-column.revenue-background
        %span None
      .compare-table-column.merchant-background
        %span None
      .compare-table-column
        %span Yes
    .compare-table-row-even
      .compare-table-column
        %span Cost:
      .compare-table-column
        %span  12 - 28 Cents on the Dollar
      .compare-table-column
        %span 18 - 38 Cents on the Dollar
      .compare-table-column
        %span 16 - 48 Cents on the Dollar
      .compare-table-column
        %span Annualized interest rate (APR) applied on the loan amount
    .compare-table-row-odd
      .compare-table-column
        %span Repayment:
      .compare-table-column
        %span Regularly scheduled debits to your business bank account.
      .compare-table-column.revenue-background
        %span Regularly scheduled debits to your business bank account.
      .compare-table-column.merchant-background
        %span Auto-magically collected via a portion of CC sales.
      .compare-table-column
        %span Fixed monthly payments
    .compare-table-row-even
      .compare-table-column
        %span Additional Funding:
      .compare-table-column
        %span Yes.
      .compare-table-column
        %span Yes.
      .compare-table-column
        %span Yes.
      .compare-table-column
        %span Requires new application and approval.
    .compare-table-row-footer
      .compare-table-column
      .compare-table-column
        %a.flat-button.button-compare.button-business-term-loans{href: "/signup"}
          %span Submit
      .compare-table-column
        %a.flat-button.button-compare.button-revenue-based-financing{href: "/signup"}
          %span Submit
      .compare-table-column
        %a.flat-button.button-compare.button-merchant-cash-advance{href: "/signup"}
          %span Submit