.compare-table-fluid-container
  .compare-table
    .compare-table-row.compare-table-row-header
      .compare-table-column
      .compare-table-column.highlight-blue
        .header-column-left
          %span Business Term Loans
        .header-column-right
          .header-column-right-flap.blue-flap
          .header-column-right-remainder
      .compare-table-spacing
      .compare-table-column.highlight-green.clearfix
        .header-column-left
          %span Revenue-Based Financing
        .header-column-right
          .header-column-right-flap
          .header-column-right-remainder
      .compare-table-spacing
      .compare-table-column.highlight-orange
        .header-column-left
          %span Buynance Cash Advance
        .header-column-right
          .header-column-right-flap.orange-flap
          .header-column-right-remainder
    .compare-table-row-odd.compare-table-row-odd-first
      .compare-table-column
        %span Availability:
      .compare-table-column
        %span High
      .compare-table-column.revenue-background
        %span Highest
      .compare-table-column.merchant-background
        %span Highest
    .compare-table-row-even
      .compare-table-column
        %span Time of Funding:
      .compare-table-column
        %span 5-14 days
      .compare-table-column
        %span 5-14 days
      .compare-table-column
        %span 1-8 business hours
    .compare-table-row-odd
      .compare-table-column
        %span For You If:
      .compare-table-column
        %span Strong credit and cash flow.
      .compare-table-column.revenue-background
        %span Strong cash flow, moderate credit.
      .compare-table-column.merchant-background
        %span You have a decent sales history.
    .compare-table-row-even
      .compare-table-column
        %span Example of Business Types:
      .compare-table-column
        %span Manufacturing, Medical, Dental, and more.
      .compare-table-column
        %span Over 700 industries served.
      .compare-table-column
        %span Restaurants, Retail, Entertainment, and more.
    .compare-table-row-odd
      .compare-table-column
        %span Typical Amounts:
      .compare-table-column
        %span $25,000 - $500,000
      .compare-table-column.revenue-background
        %span $5,000 - $250,000
      .compare-table-column.merchant-background
        %span up to $25,000
    .compare-table-row-even
      .compare-table-column
        %span Terms:
      .compare-table-column
        %span 6 - 24 Months
      .compare-table-column
        %span 3 -12 Months
      .compare-table-column
        %span Varies depending on future funding.
    .compare-table-row-odd
      .compare-table-column
        %span Collateral Required:
      .compare-table-column
        %span None
      .compare-table-column.revenue-background
        %span None
      .compare-table-column.merchant-background
        %span None
    .compare-table-row-even
      .compare-table-column
        %span Cost:
      .compare-table-column
        %span  12 - 28 Cents on the Dollar
      .compare-table-column
        %span 18 - 38 Cents on the Dollar
      .compare-table-column
        %span 24 to 40 cents on the Dollar
    .compare-table-row-odd
      .compare-table-column
        %span Collection:
      .compare-table-column
        %span Regularly scheduled debits to your business bank account.
      .compare-table-column.revenue-background
        %span Regularly scheduled debits to your business bank account.
      .compare-table-column.merchant-background
        %span Daily debit to qualified business account.
    .compare-table-row-even
      .compare-table-column
        %span Additional Funding:
      .compare-table-column
        %span Yes.
      .compare-table-column
        %span Yes.
      .compare-table-column
        %span Yes.
    .compare-table-row-footer
      .compare-table-column
      .compare-table-column
        %a.flat-button.button-compare.button-business-term-loans{href: "/signup"}
          %span Apply
      .compare-table-column
        %a.flat-button.button-compare.button-revenue-based-financing{href: "/signup"}
          %span Apply
      .compare-table-column
        %a.flat-button.button-compare.button-merchant-cash-advance{href: "/signup"}
          %span Apply