.compare-table-fluid-container
  .compare-table
    .compare-table-row.compare-table-row-header
      .compare-table-column
      .compare-table-column.highlight-blue
        .header-column-left
          %span Business Term Loans
        .header-column-right
          .header-column-right-flap.blue-flap
          .header-column-right-remainder
      .compare-table-spacing
      .compare-table-column.highlight-green.clearfix
        .header-column-left
          %span Revenue-Based Financing
        .header-column-right
          .header-column-right-flap
          .header-column-right-remainder
      .compare-table-spacing
      .compare-table-column.highlight-orange
        .header-column-left
          %span Merchant Cash Advance
        .header-column-right
          .header-column-right-flap.orange-flap
          .header-column-right-remainder
    .compare-table-row-odd
      .compare-table-column
        %span Availability
      .compare-table-column
        %span High
      .compare-table-column.revenue-background
        %span Highest
      .compare-table-column.merchant-background
        %span High
      .compare-table-column
        %span Low
    .compare-table-row-even
      .compare-table-column
        %span Time of Funding
      .compare-table-column
        %span Days
      .compare-table-column
        %span Days
      .compare-table-column
        %span Days
      .compare-table-column
        %span Weeks to Months
    .compare-table-row-odd
      .compare-table-column
        %span Best for
      .compare-table-column
        %span Businesses with bank deposits that are consistent throughout the year
      .compare-table-column.revenue-background
        %span Growth companies and seasonal businesses that invoices their customers
      .compare-table-column.merchant-background
        %span Businesses with a high percentage of credit/debit card sales
      .compare-table-column
        %span Large, established corporations
    .compare-table-row-even
      .compare-table-column
        %span Example of Industries Served
      .compare-table-column
        %span Service, Automotive, Medical/Dental, Consulting, and more
      .compare-table-column
        %span Construction, Lodging, Transportation, Landscaping, and more
      .compare-table-column
        %span Restuarants, Retail, Nightclubs, Jewelry, and more
      .compare-table-column
        %span Large-scale Manufaturing, Enteprise Softwar, Aviation
    .compare-table-row-odd
      .compare-table-column
        %span Amount
      .compare-table-column
        %span $5,000 - $250,000
      .compare-table-column.revenue-background
        %span $5,000 - $250,000
      .compare-table-column.merchant-background
        %span $5,000 - $1000,000
      .compare-table-column
        %span Typically $1+ Million
    .compare-table-row-even
      .compare-table-column
        %span Term 
      .compare-table-column
        %span 4 - 24 Months
      .compare-table-column
        %span 4 - 18 Months
      .compare-table-column
        %span No set term; typically 6-8 months
      .compare-table-column
        %span Years
    .compare-table-row-odd
      .compare-table-column
        %span Personal Collateral Required
      .compare-table-column
        %span No
      .compare-table-column.revenue-background
        %span No
      .compare-table-column.merchant-background
        %span No
      .compare-table-column
        %span Yes
    .compare-table-row-even
      .compare-table-column
        %span Cost
      .compare-table-column
        %span  Typically articulated as a "rate" based on funding amount and an evaluation of the financial healt of the business
      .compare-table-column
        %span A negotiated amount based on the total advanced and an evaluation of the financial healt of the business
      .compare-table-column
        %span negotiated amount based on the total advanced and an evaluation of the financial health of the business
      .compare-table-column
        %span Annualized interest rate (APR) applied on the loan amount
    .compare-table-row-odd
      .compare-table-column
        %span Repayment
      .compare-table-column
        %span A predetermined amount is paid back via ACH either daily or weekly depending on the qualifications of the business (no payments on the weekend or holidays)
      .compare-table-column.revenue-background
        %span A predetermined amount is paid back via ACH either daily or weekly depending on the qualifications of the business. Repayment amount may be adjusted to for actual revenue. (no payments on the weekend or holidays)
      .compare-table-column.merchant-background
        %span A predetermined percentage of daily credit/debit card sales is deducted from your merchant account each day (no payment on weekends or holidayes).
      .compare-table-column
        %span Fixed monthly payments
    .compare-table-row-even
      .compare-table-column
        %span Additional Funding
      .compare-table-column
        %span Most business will qualify for additional funds after 50% of the first loan has.
      .compare-table-column
        %span Most business will qualify for additional funds after 50% of the first loan has.
      .compare-table-column
        %span Most business will qualify for additional funds after 50% of the first loan has.
      .compare-table-column
        %span Requires new application and approval.
    .compare-table-row-footer
      .compare-table-column
      .compare-table-column
        %a.flat-button.button-compare.button-business-term-loans{href: "/signup?is_funding=true"}
          %span Submit
      .compare-table-column
        %a.flat-button.button-compare.button-revenue-based-financing{href: "/signup?is_funding=true"}
          %span Submit
      .compare-table-column
        %a.flat-button.button-compare.button-merchant-cash-advance{href: "/signup?is_funding=true"}
          %span Submit