.homepage-wrapper.fluid-row
  .how-works
    .how-works-header
      .how-works-header-top
        %span How This Works
      .how-works-header-bottom
        %span Get Financed
    .how-works-steps
      .how-works-steps-step1
        .how-works-steps-step1-image
          = image_tag("homepage_step1.jpg")        
      .how-works-steps-step2
        .how-works-steps-step2-image
          = image_tag("homepage_step2.jpg")        
      .how-works-steps-step3
        .how-works-steps-step3-image
          = image_tag("homepage_step3.jpg")        
    .how-works-information
      .how-works-information-step1
        %span Sign Up & Tell Us a Bit About Your Business
      .how-works-information-step2
        %span View Offers
      .how-works-information-step3
        %span Select the One That Works Best For You

