.homepage-fluid-container.container-gray
  .homepage-container
    .why-buynance-our-story
      .why-buynance-our-story-header
      	%span Our Story
      .why-buynance-our-story-subheader
        %span Duis blandit semper urna, ut ullamcorper justo consequat tincidunt. Curabitur dolor sapien, mattis sed dignissim eget, viverra et nulla. Morbi nec urna vel urna vehicula ultrices id nec orci. Praesent bibendum orci velit, in tristique velit ultricies a. Proin sed pulvinar turpis, id vestibulum justo. Fusce dapibus laoreet convallis. 
      .why-buynance-our-story-body
        %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida enim odio, eget facilisis tellus porta et. Aenean sed sapien nisl. Nam vitae leo non dui hendrerit egestas. Phasellus blandit nisi quis tempor vulputate. Ut dignissim at nibh posuere auctor. Suspendisse hendrerit tincidunt nibh. In volutpat justo in malesuada ultricies. Sed laoreet lectus enim, id posuere diam facilisis ut. Cras in lectus enim. Nulla tincidunt mi mauris, in malesuada erat condimentum sit amet. Nunc auctor sed risus ac iaculis. Vestibulum porttitor magna dapibus nunc pellentesque, sit amet pellentesque libero laoreet. Nunc vel quam eu purus consequat tincidunt. Ut feugiat justo non blandit eleifend. Curabitur vel condimentum diam. Sed at condimentum quam.