.web_body
  .sub-menu
    %ul
      %li
        Our Story
      %li
        Us and Them
      %li 
        Team
      %li
        Perks
  .our-story.container
    .our-story-header
      %h1
        Our Story
    .our-story-subtitle
      %p
        Integer molestie augue pharetra purus rutrum suscipit. Quisque vehicula rutrum diam eget laoreet. Vestibulum gravida urna sit amet consequat facilisis. Ut luctus dolor sem, ut commodo velit volutpat ut. Integer eleifend purus nec felis varius molestie. Aliquam mattis, turpis quis tristique cursus, ligula quam pulvinar tortor, vel semper mauris purus ac nunc. Aliquam purus erat, suscipit vitae auctor ac, faucibus ac mi. 
    .out-story-body
      %p
        Suspendisse nec nisi mattis, luctus odio id, venenatis lectus. Duis placerat tempus leo eu egestas. Vestibulum congue justo a nunc feugiat, vel molestie nisl faucibus. Fusce pharetra risus eget pellentesque semper. Praesent a velit non leo scelerisque cursus et vitae nibh. Morbi fringilla ornare hendrerit. Mauris eu lacus pellentesque, congue justo vel, pretium sem. Nunc vulputate, nulla quis vestibulum porttitor, sapien libero sagittis tortor, sit amet sodales lorem nibh id purus. Donec molestie sapien quam, eu posuere eros adipiscing in. Sed placerat nisi vitae tempor tincidunt. Fusce imperdiet, arcu in ultricies congue, nulla nunc consectetur neque, et accumsan turpis mauris sit amet lorem. Suspendisse lacinia tellus in purus bibendum commodo. Nam pulvinar, sapien quis commodo elementum, mauris metus facilisis est, sed iaculis sapien erat dictum neque. Sed pharetra molestie quam, in aliquam erat dapibus quis. Sed luctus eros non ipsum pretium, eu rhoncus elit porttitor.
  .we-vs-retail-brokers
    .container
      .we-vs-retail-broker-header
      .we-vs-retail-broker-body
      .we-vs-retail-broker-submit
  .team.container
    .team-header
    .team-body
  .team-info
    .container
      .col-xs-6
        .team-info-box
          .team-info-box-photo
            .team-info-box-photo-subtitle
              .team-info-box-photo-subtitle-title
              .team-info-box-photo-subtitle-name
          .team-info-box-information
        .team-info-box
          .team-info-box-photo
            .team-info-box-photo-subtitle
              .team-info-box-photo-subtitle-name
              .team-info-box-photo-subtitle-title
          .team-info-box-information
      .col-xs-6
        .team-info-box
          .team-info-box-photo
            .team-info-box-photo-subtitle
              .team-info-box-photo-subtitle-name
              .team-info-box-photo-subtitle-title
          .team-info-box-information