.web_body
  .row.main-title-wrap
    .col-md-6.col-md-offset-3
      %h1.main-title Blog
  .container
    .main_body.no-form
      .WordSection1
        %p.MsoNormal{:align => "center", :style => "text-align:center"}
          %b{:style => "mso-bidi-font-weight:\nnormal"}
            %span{:style => "font-size:14.0pt;font-family:Helvetica;color:#365F91;\nmso-themecolor:accent1;mso-themeshade:191"}
              Merchant Cash Advance Brokers Dictate
              Cost Of Funds
              %o:p
        %p.MsoNormal
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-size:14.0pt;font-family:Helvetica;color:#000090"}
              %o:p &nbsp;
        %p.MsoNormal{:align => "right", :style => "text-align:right;line-height:150%"}
          %span{:style => "font-family:Helvetica;color:#365F91;mso-themecolor:accent1;mso-themeshade:\n191"}
            March 19, 2014
            %o:p
        %p.MsoNormal{:align => "right", :style => "text-align:right;line-height:150%"}
          %span{:style => "font-family:Helvetica;color:#365F91;mso-themecolor:accent1;mso-themeshade:\n191"}
            By Jay Ballentine
            %o:p
        %p.MsoNormal{:align => "right", :style => "text-align:right"}
          %span{:style => "font-family:\nHelvetica;color:#000090"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "line-height:150%"}
          %span{:style => "color:#595959;\nmso-themecolor:text1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Within the scope of merchant cash advance, a professional
            services fee is a discretionary fee charged by merchant cash advance brokers.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Professional services fees are generally
            captured on the day a business owner receive funding.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Brokers generally collect these junk
            fees
            = succeed "." do
              %span.GramE on their own
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            On a fundamental level, professional services fees are
            entirely ridiculous as
            %b{:style => "mso-bidi-font-weight:normal"}
              merchant cash advance
              brokers are paid directly by funding companies
            for the deal flow they
            refer.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            To really understand how awful professional fees really
            are
            %span.GramE ,
            lets examine two of the most common broker
            compensation structures used in the industry first.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            There are buy rate commissions and flat
            rate commissions.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-size:14.0pt;line-height:150%;font-family:Helvetica;color:#595959;\nmso-themecolor:text1;mso-themetint:166"}
              The Buy Rate
              %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Buy rates generally start at 1.24 for the leading
            companies and these companies will generally let brokers sell the money to as
            high as a 1.38 – I’ve even seen some 1.49’s.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Not sure what this all means?
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Ok, let’s say a broker receives a
            pre-approval from a merchant cash advance firm in the amount of $100,000 for
            your business.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            If the buy rate is
            1.24 it means the money would have come at a final cost of $124,000 if you had
            received the funds directly from the source.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Generally speaking, brokers try to make
            as much as they can on every deal possible so they will “feel you out” you to
            see how high they can upsell you during the “getting to know you” part of the
            process.
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            The more desperate you appear or seem, the more they
            will charge.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            When you end up with a
            1.38 rate and $138,000 as a final cost of your funds under this scenario, then
            the broker will have pocketed a cool $14,0000 in commission.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            But he still wants more.
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-size:14.0pt;line-height:150%;font-family:Helvetica;color:#595959;\nmso-themecolor:text1;mso-themetint:166"}
              The Flat Rate
              %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Flat rate commissions are awarded in two ways, each
            method discussed here is deployed at the discretion of the individual firm and
            their individual Schedule A’s.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Funding
            companies will pay brokers based on either the final cost of funds, or the initial
            funding amount.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Examples; when you
            receive an offer for $100k with a final cost of funds being $138,000, if the
            broker is awarded commission based on the initial cost of the funds, then the
            broker will walk away with anywhere from $7,000 to $14,000 as most firms pay 7
            to 14 points on the initial funding amount under this model.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Or, if you receive $100,000 with a final
            cost of $138,000 where the funding company pays on the final cost of funds, the
            broker will walk away with $8,280 up to $13,800 as firms who pay based on the
            final cost of funds will pay brokers anywhere from 6 to 10 points.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Generally speaking, under flat rate commissions the
            commission paid to brokers has been “factored in” as most offers will be in the
            1.35 to 1.49 range.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Brokers can “down
            sell” a deal and will lose 1 point in commission commensurate with the rate to
            which they down sell the deal.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-size:14.0pt;line-height:150%;font-family:Helvetica;color:#595959;\nmso-themecolor:text1;mso-themetint:166"}
              Enough Is Never Enough
              %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            One would think that a cool $10k in commission would
            be enough for helping you get the funds you need.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            However, this is simply not the
            case.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Brokers will come in and
            layer in professional services fees in amounts of anywhere between 3% and 10%
            of the loan amount.
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            When I started in the business the leading firms had
            strict policies in place which prohibited brokers from charging what were
            referred to as “closing costs” back then.
            %span{:style => "mso-spacerun:yes"}>
              \&nbsp;
            Today, these junk fees are generally referred to as professional
            services fees.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Many of the leading firms have caved under the fierce
            pressure to perform in an increasingly competitive vertical and have relaxed
            their policies to allow brokers to get away with charging professional services
            fees.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Allowing a broker to charge a
            professional services fee can be the difference between a firm getting a “sweet
            heart” deal or not.
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            On a fundamental level the industry has put inordinate
            amounts of power and control in the hands of brokers because it is increasingly
            becoming the easiest thing to do.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            I
            have had public discussions about the merits of a “broker first” mentality and
            firms have firmly defended their positions – holding their line, because
            it is the easy thing to do.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Brokers
            allow the merchant cash advance company to outsource has much as 50% it’s
            customer acquisition efforts.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            It’s
            cheap deals for the funding company and more expensive money for you –
            the business owner.
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            The lack of willingness on behalf of merchant cash
            advance companies to market the product more efficiently forces the merchant
            cash advance company to essentially cut off it’s nose to spit it’s face.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            They are essentially being forced to allow
            the inmates to run the asylum.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            A broker can refer a $100,000 deal to a funding
            company, and feasibly walk away with as much as $24,000 from this one
            deal.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            They are doing harm to the
            business owner in the process while leaving the merchant cash
            %span.GramE advance company
            in what could be a wayward position.
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Most merchant cash advance companies do
            not publish default rates however, it should not take a data scientist to
            conclude that professional services fees negatively impact default rates
            industry wide.
            %span{:style => "mso-spacerun:yes"} &nbsp;
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            Will you be profitable during your merchant cash
            advance?
            %span{:style => "mso-spacerun:yes"}> &nbsp;
            Click here for our merchant
            cash advance profitability calculator to find out now.
            %o:p
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;
        %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
          %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
            %o:p &nbsp;