.web_body
  .row.main-title-wrap
    .col-md-6.col-md-offset-3
      %h1.main-title Blog
  .container
    .main_body.no-form
      .WordSection1
        %p.MsoNormal
          %b{style: "mso-bidi-font-weight:normal"}
            %span{style: "text-align:center; font-size:16.0pt;font-family:\"Arial Black\";color:#3366FF"}
              Stacking:
              Merchant Cash Advance Funders Jeopardize Main Street
              %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal{align: "right", style: "text-align:right"}
          %span{style: "font-size:\r\n10.0pt;font-family:Arial"}
            By Jay Ballentine
            %p
        %p.MsoNormal{align: "right", style: "text-align:right"}
          %span{style: "font-size:\r\n10.0pt;font-family:Arial"}
            March 5, 2014
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            The merchant cash advance
            industry positions the product as one designed to help merchants stay in business
            when banks deny them loans for new equipment, inventory, marketing, expansion,
            or payroll.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            When a merchant cash advance
            is used for those reasons – most businesses are able to put the money to
            work for them and many ultimately come out on top.
            %span{style: "mso-spacerun:yes"}>  
            However, most business owners who take
            merchant cash advances are struggling.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span.GramE
            %span{style: "font-family:Arial"}
              The
              nascent merchant cash advance industry was pioneered by men who identified a
              problem, and who devised a creative solution
          %span{style: "font-family:Arial"}
            \.
            %span{style: "mso-spacerun:yes"}>  
            The
            solution was devised to help the business owner (at first restaurant owners)
            stay in business not put them under.
            %span{style: "mso-spacerun:yes"}>
               
            There are plenty of merchant cash advance success stories on the various
            company websites.
            %span{style: "mso-spacerun:yes"}>  
            Some stories are
            real, while others are contrived as many providers have purchased “false” testimonials
            on sites like
            = succeed "." do
              %span.SpellE Fiverr
            %span{style: "mso-spacerun:yes"}  
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            While many companies have
            the best interests merchants at heart a new cavalry of cowboys are entering the
            industry endangering the health of American businesses with reckless
            abandon.
            %span{style: "mso-spacerun:yes"}>  
            They are have optimized their
            underwriting formulas so as to essentially take a short position on American
            business owners by engaging in the dangerous practice of “stacking.”
            %span{style: "mso-spacerun:yes"}>  
            Stacking is an industry term, which can
            be narrowly defined as
            = succeed "Despite" do
              %i{style: "mso-bidi-font-style:normal"}
                the practice of
                providing a business owner with a merchant cash advance after they have
                received an advance from another funder.
                %span{style: "mso-spacerun:yes"}
                   
            = succeed "The" do
              %span{style: "mso-spacerun:yes"}  
            %span{style: "mso-spacerun:yes"}  
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            When I was new to the
            business in 2007, if a merchant was currently in a merchant cash advance they
            were unable to receive a renewal until they were 70% paid off.
            %span{style: "mso-spacerun:yes"}>  
            If a new company took over the deal, the
            new company would typically write a check to the old company for the remaining
            30% and re-package the cash advance subjecting the merchant to only one daily
            collection.
            %span{style: "mso-spacerun:yes"}>  
            However, today –
            = succeed "," do
              %span.GramE a business owner can get funded by Company A
            %span{style: "mso-spacerun:yes"}  
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            Generally speaking, most
            merchant cash advance companies who take what is referred
            %span.GramE to
            as “the first position” will capture around 20% your average daily
            deposits.
            %span{style: "mso-spacerun:yes"}>  
            The companies who come in
            to “stack” on what is also referred to as the second position ultimately seek
            to collect as much as 20% themselves.
            %span{style: "mso-spacerun:yes"}>   
            If you are a grocery store or
            restaurant where your margins are anywhere from 1.5% to 18% then you run the
            risk of giving merchant cash advance company 40% of your average daily
            balance.
            %span{style: "mso-spacerun:yes"}>  
            If you are a restaurant
            owner and your average daily profit margin is 18%, then you will run at a -22%
            margin over the course of a 3 to 6 month period.
            %span{style: "mso-spacerun:yes"}>  
            Unfortunately, 90 to 180 days of
            operating at a loss makes it hard for a struggling business owner to rebound
            and thrive after being stacked.
            %span{style: "mso-spacerun:yes"}
                
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            In 2013 stacking extended
            beyond the second position and firms even began to take third positions.
            %span{style: "mso-spacerun:yes"}>  
            The failure rate for business owners who
            take a third position merchant cash advance is 100% based on our direct
            experience in working with these business owners.
            %span{style: "mso-spacerun:yes"}>  
            We are working on a study and will
            publish more specific results when they become available.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            So now we know the dangers
            of stacking – but why are companies doing it?
            %span{style: "mso-spacerun:yes"}>  
            Greed is only part of the reason.
            %span{style: "mso-spacerun:yes"}>  
            Companies are stacking because it has
            become convenient to do so.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            Merchant cash advance
            companies are in a war for leads because they have failed to devise sustainable
            lead generation systems.
            %span{style: "mso-spacerun:yes"}>  
            Systems
            designed to eliminate waste and pass along those savings to the business
            owner.
            %span{style: "mso-spacerun:yes"}>  
            Currently, the end cost of
            customer acquisition in paid search is north of $1,000 for many funders.
            %span{style: "mso-spacerun:yes"}>  
            My two largest former clients spend
            close to $1M per month each in paid search marketing.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            Newcomers are entering the
            paid search marketplaces and this is driving up everyone’s CPA.
            %span{style: "mso-spacerun:yes"}>  
            So, under pressure to perform and to
            return value to their investors – companies are finding it to be easier
            to just “stack” on top of each other. Companies who engage in stacking to the
            detriment of the American business owner have made a choice to do so.
            %span{style: "mso-spacerun:yes"}>  
            Each firm has the option of running
            cleaner shops by offering merchants fair and “modestly” reasonable rates while
            sparing them from junk fees as well.
            %span{style: "mso-spacerun:yes"}
               
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            I have spent the better part
            of the last 13 months consulting for various clients while also contributing to
            the industry forums.
            %span{style: "mso-spacerun:yes"}>  
            My goal was to
            help merchant cash advance companies become exposed to more efficient and to
            some degree more elegant ways of marketing the product.
            %span{style: "mso-spacerun:yes"}>  
            If they market the product more efficiently
            while removing brokers from the value chain, the business owner gets a lower
            rate in the end – and everyone’s default rates go down.
            %span{style: "mso-spacerun:yes"}>  
            However, many companies are just
            interested in buying leads to stack on.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            In late 2013, I began
            receiving marketing consulting inquiries from consumer payday lenders who are
            being displaced by the various state regulations being imposed on the
            industry.
            %span{style: "mso-spacerun:yes"}>  
            Payday loans are
            repulsive, and I’ve found their “CEO’s” and managers to be a distasteful
            bunch.
            %span{style: "mso-spacerun:yes"}>  
            There is little evidence to
            suggest that these “Zebra’s” will be changing their stripes anytime soon.
            %span{style: "mso-spacerun:yes"}>  
            They have built businesses and have made
            millions by taking advantage of vulnerable, honest, hardworking Americans.
            %span{style: "mso-spacerun:yes"}>  
            Payday lenders will take advantage of
            whomever they can in the name of unabashed greed – and they now have
            their eyes squarely locked in on the American business owner.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            Merchant cash advance
            companies; both new comers and stalwarts who engage in the practice of stacking
            are not betting on your success, they have learned to turn the “timing of your
            demise” into an underwriting science so as to exit their short position before
            you are forced to close your doors.
            %p
        %p.MsoNormal
          %span{style: "font-family:Arial"}
            %p  
        %p.MsoNormal
          We encourage you to use the calculator we created to help
          you determine how healthy you should expect your business to be after you have
          taken a merchant cash advance.
          %span{style: "mso-spacerun:yes"}>  
          It
          is simple and it will give you a basic snapshot of your expected cash flow
          during the life of your merchant cash advance.
          %span{style: "mso-spacerun:yes"}>  
          If your business is projected to stay in
          the red during your merchant cash advance, then we strongly encourage you to
          first make sure that you will actually profit from the merchant cash advance,
          or evaluate other options.
        %p.MsoNormal
          %p  