- meta title: "Small Business Funding Products - Buynance", description: "Compare the various forms of small business funding. Let us help you select the funding arrangement that best suits your needs, and is most sensitive to your overall profitability.", keywords: %w(merchant cash advance business funding small loan finance financing products compare)

= render "static_pages/compare/info"
= render "static_pages/compare/table"