.web_body
  .paper-section
    .paper-section-header
      Confirm Email
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .paper-section-bank-login-left.col-xs-7
        .paper-section-bank-login-left-header
          %span Please Confirm your Email
        .paper-section-bank-login-left-information
          %span Check your email for further instruction on how to confirm your account.
      .paper-section-bank-login-right.col-xs-5
        = render "shared/funding_sidebar"