.web_body
  .paper-section
    .paper-section-header
      %span Success
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .account
              .account-header
                %span Please check your email now.
              .account-body
                .account-body-info
                  %span Check your email to validate your identity and to confirm your account creation. Please make sure to check your spam folder incase the email was sent there by mistake. If you are a gmail user, please check all your category tabs if the message was not sent directly to your inbox.