.paper-section-regular
  .paper-section-regular-header
    %span We are reviewing your application. 
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span 
        Thanks for applying to join the Buynance Family.  Bear with us as we review your application.  We will e-mail you at the address associated with your LinkedIn profile shortly.  In the meantime, if you have any urgent questions please email us at 
        %a{href: "mailto:team@buynance.com", style: "font-family: latoregular;color: #20acd7;"} team@buynance.com.  
        Those who call us will be automatically disqualified from consideration.