.web_body
  .row.main-title-wrap
    .col-md-6.col-md-offset-3
      %h1.main-title Merchant Cash Advance
  .container
    .main_body.no-form.row
      .col-md-6
        %p{style: "page-break-inside: avoid;"}
          %font{color: "#333333", size: "3"}
            %font{face: "Helvetica Neue, Helvetica, Arial, sans-serif"}
              Merchant
              cash advances are a short-term form of alternative business funding
              most commonly used for things like unexpected expenses, expansion,
              payroll, marketing, or facility upgrades. The product was originally
              created as a means to solve the problem small business owners face
              when they are turned away for working capital loans. Merchant cash
              advances are based on what is referred to as a factor rate. A factor
              rate represents the final cost of funds after fee. For example, if
              you receive a merchant cash advance in the amount of $10,000 with a
              factor rate of 1.30, then you will pay back $13,000. Your merchant
              cash advance can be paid back in one of two ways:
        %ol
          %li
            %p{style: "page-break-inside: avoid;"}
              %font{color: "#333333", size: "3"}
                %font{face: "Helvetica Neue, Helvetica, Arial, sans-serif"}
                  %font{style: "font-size: 12pt"}
                    Through
                    a small portion of your future credit card sales will go to pay the
                    money back plus fee.
          %li
            %p{style: "page-break-inside: avoid;"}
              %font{color: "#333333", size: "3"}
                %font{face: "Helvetica Neue, Helvetica, Arial, sans-serif"}
                  %font{style: "font-size: 12pt"}
                    Through a daily debit made to your business or checking account.
        %p{style: "page-break-inside: avoid;"}
          %font{size: "3"}
            %font{color: "#333333"}
              %font{face: "Helvetica Neue, Helvetica, Arial, sans-serif"}
                You qualify for a merchant cash advance if you have been in business for at least one year, and earn at least $15,000 per month.
        %p{style: "page-break-inside: avoid"}
          %font{size: "3"}
            %font{color: "#333333"}
              %font{face: "Helvetica Neue, Helvetica, Arial, sans-serif"}
                More information on merchant cash advances can be found on Wikipedia by clicking 
                %a{href: "http://en.wikipedia.org/wiki/Merchant_cash_advance"}
                  here  