.paper-section-regular
  .paper-section-regular-header
    %span Welcome
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span Welcome to your Buynance dashboard. Below you will find your referral code and the Paypal email associated with your account. The referral code is used to connect your account with any lead you guide through the funnel. During the sign-up process make sure your lead inputs this code so the payment for this lead can be connected to you.
    .paper-section-regular-body-info
      .dialer-dashboard-accepted-item
        %span Referral Code : 
        %span #{@representative.referral_code}
      .dialer-dashboard-accepted-item
        %span Paypal Email : 
        %span #{@representative.paypal_email}