.paper-section-regular
  .paper-section-regular-header
    %span We are reviewing your application. 
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span Thank you for applying with Buynance. To ensure that top candidates get the position, we are reviewing your application. When we have reviewed your application, you will recieve an email with further information. Thank you for applying at Buynance.