.paper-section-regular
  .paper-section-regular-header
    %span We are reviewing your application. 
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span Thanks for applying to become a Friend of Buynance. We are reviewing your application. You will receive a follow up e-mail if you're invited!