.paper-section-regular
  .paper-section-regular-header
    %span  
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span Unfortunately you did not qualify for this position. We hope you the best of luck in your search for employment.