.web_body
  .paper-section
    .paper-section-header
      Recover
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.clearfix
          .paper-section-main-sheet.last-paper-section
            .paper-section-bank-login.row
              .paper-section-bank-login-left.col-xs-7
                .paper-section-bank-login-left-header
                  %span Reset your Password.
                .paper-section-bank-login-left-information
                  %span Check your email for further instruction on how to recover your account.
              .paper-section-bank-login-right.col-xs-5
                = render "shared/funding_sidebar"