!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %table{:cellpadding => "10", :cellspacing => "0", :style => "font-family:\r\n   arial, verdana, sans-serif; background: rgb(248, 248, 248);", :width => "100%"}
      %tbody
        %tr
          %td{:valign => "top"}
            %table{:cellpadding => "0", :cellspacing => "0", :style => "color: rgb(0, 0, 0); font-size: 12px; width: 550px; border: 1px solid rgb(211, 211, 211); margin: 0 auto;"}
              %tbody
                %tr
                  %td{:style => "height: 60px; vertical-align:middle; background-color: white;"}
                    %table{:style => "width: 100%;"}
                      %tbody
                        %tr
                          %td{:style => "text-align: left;width: 50%;"}
                            %a{:href => "\#{root_url}/friends", :style => "text-decoration: none; border: 0px; float:left; margin-left: 15px;", :target => "_blank"}
                              %img{:alt => "Buynance Logo", :src => "http://res.cloudinary.com/buynance/image/upload/c_scale,q_100,w_200/logo_ypvhm4.jpg", :style => "border: none;", :width => "200"}/
                          %td{:style => "text-align: right; width: 50%; display: none;"}
                             
                %tr
                  %td{:style => "padding: 20px; background-color: white;", :valign => "top"}
                    %h2{:style => "font-size: 24px; font-weight: bold; color: black; margin-bottom: 20px; color: #606060; text-align: center;"} Welcome to the family.
                    %p{:style => "color:rgb(102, 102, 102);"}Congratulations,
                    %p{:style => "color:rgb(102, 102, 102);"}
                      We think you have what it takes to make $100k with us over the next year.  There are a couple more things we need from you to get started:
                    %p{:style => "color:rgb(102, 102, 102);"}
                      1. Record yourself using your smart phone or other device offering your best pitch for our product.  We will evaluate the recordings and let you know if you have made final selection.
                    %p{:style => "color:rgb(102, 102, 102);"}
                      2. Submit the attached contractor agreement, W9, along with a copy of your drivers license, state issued ID, military ID, or passport. 
                    %p{:style => "color:rgb(102, 102, 102);"}
                      3. Send your full package to jobs@buynance.com Subject Line should only be your BUYNANCE CODE contained in this e-mail.
                    %p{:style => "color:rgb(102, 102, 102);"}
                      4. Let us know if you are full time (40 hrs.) or part time. Full time will get access to our dialers and data.  Part timers will generally use their own resources.
                    %p{:style => "color:rgb(102, 102, 102);"}
                      5. Full timers must attend daily conference calls 8 a.m. and must be able to start calling at 9 a.m. the very same day.  No exceptions. You will receive conference call invite info upon acceptance. 
                    %p{:style => "color:rgb(102, 102, 102);"} 
                      %span 
                        = link_to("CLICK HERE ", "http://res.cloudinary.com/buynance/raw/upload/Attached_Documents.zip", html_options = {style: "color: #20acd7;"})
                        to download some required domunets.
                    %p{:style => "color:rgb(102, 102, 102);"} Buynance Family Code: #{@representative.referral_code}
                    %p{:style => "color:rgb(102, 102, 102);"} Good luck!
                    %p{:style => "color:rgb(102, 102, 102);"} Buynance Team

                %tr
                  %td{:style => "vertical-align: middle; border-top-style: solid; border-width: 3px; border-color: rgb(238, 238, 238); padding: 10px;"}
                    %span{:style => "font-size: 10px; color: rgb(56, 56, 56); line-height: 100%;"}
                      Funder Pair Inc.
                      %br/
                      244 Fifth Avenue, Suite 2131
                      %br>/
                      New York, NY 10001
                      %br>/
                      (877) 289 6262
                      %br/
                      %br/
                      Copyright © 2014 Funder Pair Inc. All rights reserved.
                      %br/