Your most recent lead.

#{@business.owner_first_name} {@business.owner_last_name} has selected our #{@business.step.gsub("accepted_", "").humanize.titleize}.  Please reach out to them and gather the documents below to be paid promptly:

1. Voided check.
2. Copy of business license, articles of formation and / or incorporation.  
3. First page of the lease for the address they have listed on their application.  
4. Copy of their driver’s license.  

Thanks and congratulations!

Buynance Team
