%p #{@representative.name},

%p You just got paid! We’ve sent #{@amount} to your PayPal account for successfully helping #{@business.owner_first_name} #{@business.owner_last_name} access faster and more affordable business funding. Good job! Remember, bonuses for those who produce are awarded at random - stay tuned!