%p #{@representative.name},

%p You just got paid! We’ve sent $100 to your PayPal account for successfully helping #{@business.first_name} #{@business.last_name} access faster and more affordable business funding. Good job! Remember, bonuses for those who produce are awarded at random - stay tuned!