.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            - if @representative.awaiting_acceptance?
              = render "dialer_dashboards/account/pending"
            - elsif @representative.accepted?
              = render "dialer_dashboards/account/accepted"
            - elsif @representative.rejected?
              = render "dialer_dashboards/account/rejected"