<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for regsitering at Buynance</h1>
    <p>
      In order to complete your registration and obtain funding please click on the link below. <%=root_url%>activate/<%=@business.activation_code%> .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>