Just one more step.

#{@business.owner_first_name},

Congratulations on being approved for #{@business.step.gsub("accepted_", "").humanize.titleize}.  You’re one step closer to getting wired.  First, let’s finalize your application and submit along with the documents below:

  1. Voided check.
  2. Copy of business license, or article of formation and / or incorporation.
  3. First page of the lease for the address you’ve listed on your application.
  4. Copy of your driver’s license.

If you are working with a Friend of Buynance, please send documents and completed application directly to them.  

Funder Pair Inc.
44 Wall Street, 21st Floor
New York, NY 10005
(877) 289 6262
Copyright © 2014 Funder Pair Inc. All rights reserved.