!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %table{:cellpadding => "10", :cellspacing => "0", :style => "font-family:\r\n   arial, verdana, sans-serif; background: rgb(248, 248, 248);", :width => "100%"}
      %tbody
        %tr
          %td{:valign => "top"}
            %table{:cellpadding => "0", :cellspacing => "0", :style => "color: rgb(0, 0, 0); font-size: 12px; width: 550px; border: 1px solid rgb(211, 211, 211); margin: 0 auto;"}
              %tbody
                %tr
                  %td{:style => "height: 60px; vertical-align:middle; background-color: white;"}
                    %table{:style => "width: 100%;"}
                      %tbody
                        %tr
                          %td{:style => "text-align: left;width: 50%;"}
                            %a{:href => "\#{root_url}/friends", :style => "text-decoration: none; border: 0px; float:left; margin-left: 15px;", :target => "_blank"}
                              %img{:alt => "Buynance Logo", :src => "http://res.cloudinary.com/buynance/image/upload/c_scale,q_100,w_200/logo_ypvhm4.jpg", :style => "border: none;", :width => "200"}/
                          %td{:style => "text-align: right; width: 50%; display: none;"}
                             
                %tr
                  %td{:style => "padding: 20px; background-color: white;", :valign => "top"}
                    %h2{:style => "font-size: 24px; font-weight: bold; color: black; margin-bottom: 20px; color: #606060; text-align: center;"} Just one more step.
                    %p{:style => "color:rgb(102, 102, 102);"} #{@business.owner_first_name},

                    %p{:style => "color:rgb(102, 102, 102);"} Congratulations on being pre-approved for #{@business.step.gsub("accepted_", "").humanize.titleize}.  You’re one step closer to getting wired.  First, let’s finalize your application and submit along with the documents below:

                    %p{:style => "color:rgb(102, 102, 102); margin-left: 50px;"} Voided check.
                    %p{:style => "color:rgb(102, 102, 102); margin-left: 50px;"} Copy of business license, or article of formation and / or incorporation.
                    %p{:style => "color:rgb(102, 102, 102); margin-left: 50px;"} First page of the lease for the address you’ve listed on your application.
                    %p{:style => "color:rgb(102, 102, 102); margin-left: 50px;"} Copy of your driver’s license.
                    %p{:style => "color:rgb(102, 102, 102); margin-left: 50px;"} Copy of the first page of your lease.
                    /%p{:style => "color:rgb(102, 102, 102);"}Please click on the link contained in this e-mail to download our training manual. Don’t worry - it’s easier than SAT prep! Training for those who need it will be held on: 
                    %p{:style => "color:rgb(102, 102, 102);"} 
                      %span In order to complete the final steps of the process take out your phone and take pictures of your required documents. Text us the document pictures to 
                      %span{:style => "font-weight: bold;"} (716) 608-3596. 
                      %span This is the same secured number we used to verify your identity. Or feel free to email it to us. 
                    %p{:style => "color:rgb(102, 102, 102);"} 
                      %span 
                        = link_to("CLICK HERE ", "http://res.cloudinary.com/buynance/image/upload/files/Buynance_Funding_Application.pdf", html_options = {style: "color: #20acd7;"})
                        TO DOWNLOAND APPLICATION.
                    %p{:style => "color:rgb(102, 102, 102);"} 

                %tr
                  %td{:style => "vertical-align: middle; border-top-style: solid; border-width: 3px; border-color: rgb(238, 238, 238); padding: 10px;"}
                    %span{:style => "font-size: 10px; color: rgb(56, 56, 56); line-height: 100%;"}
                      Funder Pair Inc.
                      %br/
                      44 Wall Street, 21st Floor
                      %br>/
                      New York, NY 10005
                      %br>/
                      (877) 289 6262
                      %br/
                      %br/
                      Copyright © 2014 Funder Pair Inc. All rights reserved.
                      %br/