Just one more step.

#{@business.owner_first_name},

Congratulations on being pre-approved for #{@business.step.gsub("accepted_", "").humanize.titleize}.  You’re one step closer to getting wired.  First, let’s finalize your application and submit along with the documents below:

  Voided check.
  Copy of business license, or article of formation and / or incorporation.
  First page of the lease for the address you’ve listed on your application.
  Copy of your driver’s license.
  Copy of the first page of your lease.

In order to complete the final steps of the process take out your phone and take pictures of your required documents. Text us the document pictures to (716) 608-3596. This is the same secured number we used to verify your identity. Or feel free to email it to us. 

Funder Pair Inc.
44 Wall Street, 21st Floor
New York, NY 10005
(877) 289 6262
Copyright © 2014 Funder Pair Inc. All rights reserved.