<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recovery Instruction</h1>
    <p>
      In order to recover your account and create a new password please click on the link below. <%=root_url%>recover/<%=@business_user.recovery_code%> .
    </p>
    <p>Thanks for applying for business funding with Buynance.  Have a successful day!</p>
  </body>
</html>