<table width="100%" cellpadding="10" cellspacing="0" style="font-family:
   arial, verdana, sans-serif; background: rgb(248, 248, 248);" class="">
   <tbody class="">
      <tr class="">
         <td valign="top" class="">
            <table cellpadding="0" cellspacing="0" style="color: rgb(0, 0, 0); font-size: 12px; width: 550px; border: 1px solid
               rgb(211, 211, 211); margin: 0 auto;" class="">
               <tbody class="">
                  <tr class="">
                     <td style="height: 60px; vertical-align:
                        middle; background-color: white;" class="">
                        <table style="width: 100%;" class="">
                           <tbody class="">
                              <tr class="">
                                 <td style="text-align: left;
                                    width: 50%;" class="">                                     <a href="http://www.gliffy.com" style="text-decoration: none; border: 0px; float:
                                    left; margin-left: 15px;" target="_blank" class="">                                     <img alt="Gliffy
                                    Logo" src="http://res.cloudinary.com/buynance/image/upload/c_scale,q_100,w_200/logo_ypvhm4.jpg" width="200" style="border: none;" class="">
                                    </a>                                  
                                 </td>
                                 <td style="text-align: right; width: 50%; display: none;" class="">
                                    &nbsp;                                  
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td valign="top" style="background-color: white;" class="">
                        <img alt="Buynance
                           Logo" src="http://res.cloudinary.com/buynance/image/upload/logo_ypvhm4_njz2ot.jpg" style="border: none;" class="">
                     </td>
                  </tr>
                  <tr class="">
                     <td valign="top" style="padding: 20px; background-color: white;" class="">
                        <h2 style="font-size: 24px; font-weight: bold; color: black; margin-bottom: 20px; color: #606060;" class="">Thank you for signing up with Buynance!</h2>
                        <span style="font-size: 12px; font-weight: normal; color: rgb(136, 136, 136);
                           font-style: italic;" class="">Buynance provides access to faster , more affordable business funding. We pride ourselves in providing our customers with best experience as they shop for their business funding needs.</span>                         
                        <div style="border: 1px solid rgb(221,
                           230, 239); margin: 15px 0px; padding: 0px 15px; border-top-left-radius: 5px;
                           border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-
                           left-radius: 5px; color: rgb(102, 102, 102); background: rgb(228, 234, 242);" class="">
                           <p class="">
                              Login Email: <span style="color: rgb(0, 0, 0); font-weight: bold;" class="">edwin@buynance.com</span><br class="">
                           </p>
                        </div>
                        <p style="color:
                           rgb(102, 102, 102);" class=""> To check the status of your business funding, login to Buynance using the email above and the password you provided during the signup proccess.</p>
                        <div style="font-size: 18px; font-weight: bold; color: black; margin-top: 20px; margin-bottom: 20px; color: #606060;" class="">Click
                           the link below to confirm your account
                        </div>
                        <div style="border: 1px solid rgb(221, 230, 239); margin: 15px 0px; padding: 0px
                           15px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-
                           bottom-right-radius: 5px; border-bottom-left-radius: 5px; background: rgb(228,
                           234, 242);" class="">
                           <p class="">
                              <a href="https://www.gliffy.com/go/accounts/verify/5cbb9b0d-51db-
                                 408e-9976-e42a38d4f7ab?app=1b5094b0-6042-11e2-bcfd-0800200c9a66" target="_blank" class="" style="color: #20acd7;">https://www.gliffy.com/go/accounts/verify/5cbb9b0d-
                              51db-408e-9976-e42a38d4f7ab?app=1b5094b0-6042-11e2-bcfd-0800200c9a66</a>
                           </p>
                        </div>
                        <p style="color:
                           rgb(102, 102, 102);" class=""> If you are clicking the link from a device that is not currently logged in you will be asked to input your email and Buynance password.</p>

                        <h3 style="font-size: 18px; font-weight: bold; color: black; margin-top: 20px; margin-bottom: 20px; color: #606060;" class="">More Information</h3>                         
                        <p style="color:
                           rgb(102, 102, 102);" class=""> For more information about funding your business through Buynance, check out the resources below:         
                        </p>
                        <ul class="">
                           <li class=""><a href="http://support.gliffy.com/entries/20042928-gliffy-
                              online-faq?utm_campaign=gliffy-online-
                              notifications&amp;utm_medium=email&amp;utm_source=signup" target="_blank" style="color: #20acd7;" class="">Frequently Asked Questions (FAQ)</a></li>
                           <li class=""><a href="http://www.gliffy.com/blog/user-manual/?utm_campaign
                              =gliffy-online-notifications&amp;utm_medium=email&amp;utm_source=signup" style="color: #20acd7;" target="_blank" class="">User Manual</a></li>
                           <li class=""><a href="http://www.gliffy.com/support/?utm_campaign=gliffy-online-
                              notifications&amp;utm_medium=email&amp;utm_source=signup" target="_blank" class="" style="color: #20acd7;">Support Page</a></li>
                        </ul>
                     </td>
                  </tr>
                  <tr class="">
                     <td style="vertical-align: middle; border-top-style: solid; border-width: 3px; border-
                        color: rgb(238, 238, 238); padding: 10px;" class="">
                        <span style="font-size: 10px; color: rgb(56, 56, 56); line-height: 100%;" class="">Funder Pair Inc.<br class="">
                        244 Fifth Avenue, Suite 2131<br class="">New York, NY 10001<br class="">(888) 504 6302
                        <br class="">                         <br class="">
                        Copyright © 2014 Funder Pair Inc. All rights reserved.<br class="">
                        </span>                      
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>