<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up!</h1>
    <p>
      Based on the information you provided us with you should expect to receive offers soon.  Check your e-mail for alerts on new offers available from our funding partners.
    </p>
    <p>Regards,</p>
    <p> Buynance Team </p>
  </body>
</html>