.paper-section-regular
  .paper-section-regular-header
    %span We are reviewing your application. 
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span Thanks for applying to jin the Buynance Family. Hang tight as we review your application. We will e-mail you at the e-mail address associated with your LinkedIn Profile shortly.  Please be make sure that the e-mail address associated with your LinkedIn Profile is the same e-mail address you will be using to receive payments through PayPal.  