.paper-section-regular
  .paper-section-regular-header
    %span  
  .paper-section-regular-body
    .paper-section-regular-body-info
      %span Thank you for your interest in joining the Buynance Family. Unfortunately, we cannot approve your application at this time. Feel free to e-mail team@buynance.com with any further questions you may have.