.business-sidebar
  .business-sidebar-header
    Glosary
  .business-sidebar-item
    %span Offer Amount
  %hr
  .business-sidebar-item
    %span Payback Amount
  %hr
  .business-sidebar-item
    %span Daily Collection
  %hr
  .business-sidebar-item
    %span Term
  %hr
  .business-sidebar-item
    %span Factor Rate
  %hr