.web_body
  .module
    %ul
      %li.tab.activeTab
        %img.icon{alt: "", src: "http://i.imgur.com/Fk1Urva.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/ZsRgIDD.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/34Q50wo.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/LCCJ06E.png"}/
    .form
      Congratulation, you were funded. You have some time before you can reenter the market.