.banner.fluid-row
  .banner-dummy
  .banner-content
    .banner-content-information.col-xs-6.col-xs-offset-5
      .banner-content-information-header
        .banner-content-information-header-top
          %span Faster, More Affordable, 
        .banner-content-information-header-bottom
          %span Small Business Financing
      .banner-content-information-subheader
        %span Shop for small business financing or re-finance an existing small business loan.
      .banner-content-information-action
        .banner-content-information-action-get-financed
          %a.flat-button.button-get-financed{href: "/signup?is_funding=true"}
            %span Get Financed
        .banner-content-information-action-refinance
          %a.flat-button.button-get-refinance{href: "/signup.html?is_refinance=true"}
            %span Re-Fi
      .banner-content-information-bages
        .banner-content-information-badges-one
        .banner-content-information-badges-two

