.banner.fluid-row
  .banner-dummy
  .banner-content
    .banner-content-information.col-xs-6.col-xs-offset-5
      .banner-content-information-header
        .banner-content-information-header-top
          %span Fast, No Credit Check,
        .banner-content-information-header-bottom
          %span Small Business Funding
      .banner-content-information-subheader
        %span We’ll buy up to $25,000 worth of your future sales and get you the cash in as little as one hour.
      .banner-content-information-action
        .banner-content-information-action-get-financed
          %a#banner-get-financed.flat-button.button-get-financed{href: "/signup?is_funding=true"}
            %span Get $25k Now
        /.banner-content-information-action-refinance
        /  %a#banner-refinance.flat-button.button-get-refinance{href: "/signup?is_refinance=true"}
        /    %span ReVise™ Current Deal
      .banner-content-information-bages
        .banner-content-information-badges-one
        .banner-content-information-badges-two

