.banner.fluid-row
  .banner-dummy
  .banner-content
    .banner-content-information.col-xs-6.col-xs-offset-5
      .banner-content-information-header
        .banner-content-information-header-top
          %span Faster, More Affordable, 
        .banner-content-information-header-bottom
          %span Small Business Funding
      .banner-content-information-subheader
        %span Shop for small business funding or restructure an existing funding arrangement.
      .banner-content-information-action
        .banner-content-information-action-get-financed
          %a.flat-button.button-get-financed{href: "/signup?is_funding=true"}
            %span Get New Deal
        .banner-content-information-action-refinance
          %a.flat-button.button-get-refinance{href: "/signup?is_refinance=true"}
            %span ReNew Current Deal
      .banner-content-information-bages
        .banner-content-information-badges-one
        .banner-content-information-badges-two

