#how-works.homepage-wrapper.fluid-row
  .jcarousel
    %ul
      %li
        .how-works
          .how-works-header
            .how-works-header-top
              %span How this Works
            .how-works-header-bottom
              %span Get $25K Now
          .how-works-steps
            .how-works-steps-step1
              .how-works-steps-step1-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_166/homepage/homepage_how_revise_blue.gif")        
            .how-works-steps-step2
              .how-works-steps-step2-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_166/homepage/homepage_how_financed_green.jpg")        
            .how-works-steps-step3
              .how-works-steps-step3-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_166/homepage/homepage_how_financed_orange.jpg")      
          .how-works-information.clearfix
            .how-works-information-step1
              %span Sign up and let us analyze your sales history
            .how-works-information-step2
              %span We present offers for you to choose from. 
            .how-works-information-step3
              %span Select an offer and get up to $25k in an hour. 