#in_the_news.homepage-fluid-container.container-gray
  .homepage-container
    .in-the-news
      .in-the-news-header
        %span In the News
      .in-the-news-body.clearfix
        .in-the-news-body-section
          .in-the-news-body-section-image-bloomberg
            = image_tag("homepage_bloomberg.jpg")
          .in-the-news-body-section-information
            %span Buynance, matches lenders and borrowers at a lower cost. Ballentine says brokers, in addition to charging hefty commissions, sometimes demand closing fees of as much as $5,000 that borrowers don’t learn about until they’re ready to sign a contract.
          .in-the-news-body-section-action
            .flat-button.button-get-refinance
              %span Read More
        .in-the-news-body-section
          .in-the-news-body-section-image-alleywatch
            = image_tag("homepage_alleywatch.jpg")
          .in-the-news-body-section-information
            %span Buynance is the only place where you can get alternative small business funding in minutes. With Buynance, there are no more offers inflated by middlemen, no more excessive credit checks, and no more harassing phone calls. 
            %span Whew!
          .in-the-news-body-section-action
            .flat-button.button-get-refinance
              %span Read More


