#testimonials.homepage-fluid-container.container-white
  .homepage-container
    .testimonials
      .testimonials-header
        %span Testimonials
      .testimonials-body.clearfix
        .testimonials-body-left
          .testimonials-body-left-video
            = image_tag("homepage_video.gif")
          .testimonials-body-left-subheader
            .testimonials-body-left-subheader-name
              %span Jay Ballentine
            .testimonials-body-left-subheader-title
              %span Buynance
        .testimonials-body-right
          .testimonials-body-right-text
            %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices tempor sem sit amet rhoncus. Duis interdum viverra arcu, mattis volutpat odio cursus id. Etiam a augue vitae dolor lobortis iaculis at non elit. Ut ac gravida nisi. Proin tempor risus ac malesuada vehicula. Nulla eu lectus dui. Phasellus sed mi tortor. Integer aliquet pulvinar fermentum. Ut consectetur, lorem vitae fringilla dictum