%h2 A representative is awaiting payment
%p ---------------------------------------------
%p Representative Name - #{@rep_dialer.name}
%p Representative Code - #{@rep_dialer.referral_code}
%p Business Name - #{@business.name}
%p Business Name - #{@business.email}