#dialer_help.dialer-fluid-gray
  .dialer-section
    .dialer-section-header.highlight-green
      %span How You Can Help = How You Can Prosper
    .dialer-section-text
      %span Once you become a certified Friend of Buynance you will be supplied with data and an official Buynance email address. You will then be able to offer business owners our flagship product; same day, no credit check, small business funding to finance their futures. From there, your job is to help them with the application on our site. Once they have completed the application you will receive $200 within 30 minutes - each time, so long as they are qualified. That's not all. Invite a friend and earn $50 for every qualified application they help to process.