#dialer_help.dialer-fluid-gray
  .dialer-section
    .dialer-section-header.highlight-green
      %span How You Can Help
    .dialer-section-text
      %span As a friend of Buynance your primary responsibility is to reach to business owners through our fully integrated platform. You will reach out to business owners while helping them understand how we can help them finance their futures. From there, you will help them complete the application on our site.  Once they have completed the application, so long as they are qualified, you will receive 
      %span{style:"text-decoration: underline"} $100 in your PayPal account within 5-10 minutes each time.  