.dialer-fluid-gray
  .dialer-section
    .dialer-section-header.highlight-green
      %span How You Can Help
    .dialer-section-text
      %span As a friend of Buynance your primary responsibilities are to reach out to business owners while communicating our core value proposition, while helping them with the application on our site. Once they have completed the application, so long as they are qualified, you will receive $100 in your PayPal account within 60-90 seconds each time.