#dialer_why.dialer-fluid
  .dialer-section
    .dialer-section-header.highlight-blue
      %span What We Do
    .dialer-section-text
      %span We pair the power of technology behind who we are as people to help small business owners obtain super fast alternate small business funding. Business owners who demonstrate a need agree to sell us a portion of their future sales to pay for the things they need now. 
      = link_to  "/about",  :target => "_blank" do
        %span.highlight-blue{style:"text-decoration: underline"} You can read more about our story here
      %span . 