#dialer_why.dialer-fluid
  .dialer-section
    .dialer-section-header.highlight-blue
      %span What We Do
    .dialer-section-text
      %span We pair the power of technology behind who we are as people to help small business owners obtain faster, and more affordable, small business funding. Business owners are able to use Buynance as a vehicle to avoid the bad practices adopted by some firms which harm the health of businesses around the country. 
      = link_to  "/about",  :target => "_blank" do
        %span.highlight-blue{style:"text-decoration: underline"} You can read more about our story here
      %span . 