.web_body
  .module{style: "width: 960px;"}
    %ul
      %li.tab.activeTab
        %img.icon{alt: "", src: "http://i.imgur.com/Fk1Urva.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/ZsRgIDD.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/34Q50wo.png"}/
      %li.tab
        %img.icon{alt: "", src: "http://i.imgur.com/LCCJ06E.png"}/
    .form
      %iframe{id:"IFrameHolder", frameborder:"0", height:"480", width:"920", src:"https://widget.decisionlogic.com/Service.aspx?requestCode=jkhjs"}
      