#our-story.about-fluid-container.container-gray{style: "padding-bottom: 7.0em;"}
  .about-container
    .why-buynance-our-story
      .why-buynance-our-story-header
        %span Our Story
      .why-buynance-our-story-subheader
        %span Jay, our CEO, started out as a broker in the merchant cash advance business 7 years ago and has been laser focused on speeding up the funding process for business owners for the last 5 years.
      .why-buynance-our-story-body
        %span We started off as a web site that made it easy for business owners to sort through options and identify funding options in an easy way.  While this approach did significantly speed up the process, it wasn’t quite fast enough. Buynance is now the only place where a business owner can get up to $25,000 in no credit check small business funding in as little as an hour.