#our-story.about-fluid-container.container-gray{style: "padding-bottom: 7.0em;"}
  .about-container
    .why-buynance-our-story
      .why-buynance-our-story-header
        %span Our Story
      .why-buynance-our-story-subheader
        %span Jay, our CEO, started out as a broker in the merchant cash advance business 6 years ago. He never received his first paycheck because his “boss” took all the money and ran. When he joined another shop – it didn’t go any better. Instead of the shop taking his money and running, they were taking money from businesses owners like you and running. Broker fees, insane equipment leasing fees, ridiculous up-sells, data insecurity, were all big enough problems to inspire the Buynance mission today.
      .why-buynance-our-story-body
        %span We started off as a web site that made it easy for business owners like you to force alternative business lenders to compete.  The result; funding companies were simply un-interested in competing for your business because it would “drive rates down” while squeezing some players out.  So, we decided that since funders are not interested in competing for your business, we will compete with the funders head on.  We will offer lower rates, faster access to funds, better service, and pricing transparency.
      .why-buynance-our-story-body  
        %span Our mission is to provide business owners who have struggled to obtain working capital in other places with fast and affordable small business funding. 