.about-fluid-submenu-container
  .why-buynance-submenu
    .why-buynance-submenu-item
      %span{onclick: "$('body').scrollTo('#our-story', 800)"} Our Story
    .why-buynance-submenu-item
      %span{onclick: "$('body').scrollTo('#us-and-them', 800)"} Us and Them
    .why-buynance-submenu-item
      %span{onclick: "$('body').scrollTo('#team', 800)"} Team
  
  