.about-fluid-container.container-gray
  .about-container
    .why-buynance-team
      .why-buynance-team-header
        %span Team
      .why-buynance-team-body{style: "margin-bottom: 1.0em;"}
        %span In alternative small business financing, the people who offer the product don’t buy the product and will likely never need it.  Car salesmen drive cars.   Insurance reps buy insurance.  Real estate agents own homes and so on.  If you go buy a car for your growing family, your salesman may have a growing family too.  He’ll be sensitive to that and work to get you the right car at the right price.  The same goes for your insurance rep or real estate agent. 
      .why-buynance-team-body
        %span Alternative business lenders have never operated the type of business you own, therefore they simply do not understand you.  Our founding team is comprised of people who have come from families who understand business owners like you.  That’s the Buynance difference. 
  