#team.about-fluid-container.container-white
  .about-container
    .why-buynance-team-memebers.clearfix
      .why-buynance-team-members-left
        .why-buynance-team-members-section.jay
          .why-buynance-team-members-section-image
            = image_tag("about_picture_jay.jpg")
          .why-buynance-team-members-section-name
            %span Jay Ballentine
          .why-buynance-team-members-section-title
            %span Co-Founder
          .why-buynance-team-members-section-info
            %span Suspendisse vitae porttitor diam. In varius mauris justo, mollis porttitor leo pulvinar sit amet. Fusce feugiat tincidunt dolor at pellentesque. Nunc varius ligula sed lectus vulputate dictum. In id metus pulvinar, vulputate tellus non, dapibus erat. Praesent urna metus, lacinia vel sem sit amet, ornare interdum lorem. Donec consectetur libero tellus, tristique volutpat libero vulputate nec. Fusce laoreet elementum orci, sit amet lobortis turpis auctor a. 
        .why-buynance-team-members-section.edwin
          .why-buynance-team-members-section-image
            = image_tag("about_picture_edwin.jpg")
          .why-buynance-team-members-section-name
            %span Edwin Velasquez
          .why-buynance-team-members-section-title
            %span Co-Founder
          .why-buynance-team-members-section-info
            %span Suspendisse vitae porttitor diam. In varius mauris justo, mollis porttitor leo pulvinar sit amet. Fusce feugiat tincidunt dolor at pellentesque. Nunc varius ligula sed lectus vulputate dictum. In id metus pulvinar, vulputate tellus non, dapibus erat. Praesent urna metus, lacinia vel sem sit amet, ornare interdum lorem. Donec consectetur libero tellus, tristique volutpat libero vulputate nec. Fusce laoreet elementum orci, sit amet lobortis turpis auctor a. 
      .why-buynance-team-members-right
        .why-buynance-team-members-section.yuliya
          .why-buynance-team-members-section-image
            = image_tag("about_picture_yuliya.jpg")
          .why-buynance-team-members-section-name
            %span Yuliya Glazman
          .why-buynance-team-members-section-title
            %span Co-Founder
          .why-buynance-team-members-section-info
            %span Suspendisse vitae porttitor diam. In varius mauris justo, mollis porttitor leo pulvinar sit amet. Fusce feugiat tincidunt dolor at pellentesque. Nunc varius ligula sed lectus vulputate dictum. In id metus pulvinar, vulputate tellus non, dapibus erat. Praesent urna metus, lacinia vel sem sit amet, ornare interdum lorem. Donec consectetur libero tellus, tristique volutpat libero vulputate nec. Fusce laoreet elementum orci, sit amet lobortis turpis auctor a. 