#team.about-fluid-container.container-white
  .about-container
    .why-buynance-team-memebers.clearfix
      .why-buynance-team-members-left
        .why-buynance-team-members-section.jay
          .why-buynance-team-members-section-image
            = image_tag("about_picture_jay.jpg")
          .why-buynance-team-members-section-name
            %span Jay Ballentine
          .why-buynance-team-members-section-title
            %span Co-Founder
          .why-buynance-team-members-section-info
            %span Jay has had the entrepreneurial streak since he built and sold his first website to high school biology teacher. Ultimately, he became a broker in the alternative business funding industry and became a strong proponent for using tech to speed up the process. Jay started Buynance with a focus on providing an exceptional business owner experience, anchored by the delivery of business cash – lightning fast
        .why-buynance-team-members-section.edwin
          .why-buynance-team-members-section-image
            = image_tag("about_picture_edwin.jpg")
          .why-buynance-team-members-section-name
            %span Edwin Velasquez
          .why-buynance-team-members-section-title
            %span Co-Founder
          .why-buynance-team-members-section-info
            %span Edwins’ grandparents arrived from Puerto Rico in the hopes of starting a business together.  After fits and starts, they did just that.  They enjoyed their piece of the American Dream until the untimely death of Edwins’ grandfather.  After a grieving period, Edwin’s grandmother sought funding to get the business on track and was unsuccessful in her pursuit.  Ultimately, his grandmother was forced to close the store.  Edwin saw Buynance as an opportunity to tackle the problems that has plagued both businesses in his neighborhood and his loved ones.
      .why-buynance-team-members-right
        .why-buynance-team-members-section.yuliya
          .why-buynance-team-members-section-image
            = image_tag("about_picture_yuliya.jpg")
          .why-buynance-team-members-section-name
            %span Yuliya Glazman
          .why-buynance-team-members-section-title
            %span Co-Founder
          .why-buynance-team-members-section-info
            %span Yuliya is a dog loving former college rugby player.  Yuliya can be credited with figuring out the toughest challenge Buynance faced – how do you provide super fast small business funding without requiring a credit check?  She applied her skills learned through a career in banking and has applied them to the Buynance mission of helping business owners get fast, super fast, small business funding. 
