.about-fluid-container.container-gray
  .about-container
    .why-buynance-team
      .why-buynance-team-header
        %span Team
      .why-buynance-team-body
        %span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur massa est, molestie eget sollicitudin eget, blandit quis felis. Proin porttitor faucibus nisl, non congue quam tincidunt vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis lobortis nisi in tempor fermentum. Maecenas ac est cursus, feugiat magna quis, tincidunt ipsum. Etiam vehicula, lectus et eleifend lacinia, neque est eleifend lorem, eget vehicula velit nisl eget eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla vestibulum suscipit gravida. Pellentesque rutrum mi vel felis dignissim dignissim. Praesent vel aliquam justo. Ut non dignissim ligula. Sed quis lorem sed nulla malesuada malesuada ac quis leo. Nulla ultricies magna sit amet dui pulvinar elementum vitae eget metus. Donec feugiat odio risus, sit amet laoreet nibh congue eget. Curabitur pulvinar turpis eu gravida fermentum. 