#us-and-them.about-fluid-container.container-white
  .about-container
    .why-buynance-we-vs-retail_brokers
      .why-buynance-we-vs-retail-brokers-header
        %span.highlight-green Us 
        %span.highlight-blue Vs. 
        %span Them
      .why-buynance-we-vs-retail-brokers-body
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span $0 Closing costs
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right{style: "padding-left: 5em;"}
            %span{style: "font-size: 2.2em;"} up to $5,000 in Closing costs
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span Get funded in 72 hours
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span Get funded in 7 days
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span We don’t pay brokers
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span Brokers dictate your rates
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left{style: "padding-top: .8em;"}
            %span{style: "font-size: 1.7em;"} We preserve your FICO score
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span They don't even bother
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
      .why-buynance-we-vs-retail-brokers-body-action
        .flat-button.button-about-get-funded
          %a{href: '/signup?is_funding=true'} Get Funded
        .flat-button.button-about-renew
          %a{href: '/signup?is_refinance=true'} ReVise™ Current Deal



