#us-and-them.about-fluid-container.container-white
  .about-container
    .why-buynance-we-vs-retail_brokers
      .why-buynance-we-vs-retail-brokers-header
        %span.highlight-green We 
        %span.highlight-blue Vs. 
        %span Retail 
        %span Brokers
      .why-buynance-we-vs-retail-brokers-body
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span We Are Good
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span They Are Bad
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span We Are Good
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span They Are Bad
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span We Are Good
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span They Are Bad
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
        .why-buynance-we-vs-retail-brokers-body-bar.clearfix
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-left
          .why-buynance-we-vs-retail-brokers-body-bar-circle.circle-right
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-left
            %span We Are Good
          .why-buynance-we-vs-retail-brokers-body-bar-body.bar-body-right
            %span They Are Bad
          .why-buynance-we-vs-retail-brokers-body-bar-middle
            %span Vs
      .why-buynance-we-vs-retail-brokers-body-action
        .flat-button.button-about-get-funded
          %a{href: '/signup'} Get Funded



