.homepage-fluid-container{style: "padding-top: 0; padding-bottom: 0;"}
  .homepage-nav
    .homepage-header.homepage-header-container.clearfix
      .hompage-header-logo{style: "width: 30.5%;"}
        = link_to(image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,h_67,w_303/logo_b9ieyp.jpg"), "/")
      .homepage-header-dialer-links.clearfix
        .homepage-header-dialer-links-section
          - if current_page?('/family') 
            %span{onclick: "$('body').scrollTo('#dialer_why', 800)"} Why Buynance
          - else
            %a{href: '/family#dialer_why'} Why Buynance
        .homepage-header-dialer-links-section{style: "width: 30%;"}
          - if current_page?('/family') 
            %span{onclick: "$('body').scrollTo('#dialer_help', 800)"} How You Can Prosper
          - else
            %a{href: '/family#dialer_help'} How You Can Prosper
        .homepage-header-dialer-links-section{style: "width: 23%;"}
          - if current_page?('/family') 
            %span{onclick: "$('body').scrollTo('#dialer_work', 800)"} How This Works
          - else
            %a{href: '/family#dialer_work'} How This Works
        .homepage-header-dialer-links-section.small-section{style: "width: 13%;"}
          - if current_page?('/family')
            %span{onclick: "$('body').scrollTo('#dialer_benefits', 800)"} Benefits
          - else
            %a{href: '/family#dialer_benefits'} Benefits
        .homepage-header-dialer-links-section.small-section{style: "width: 10%;"}
          - if current_page?('/family') 
            %span{onclick: "$('body').scrollTo('#dialer_faq', 800)"} FAQ
          - else
            %a{href: '/family#dialer_faq'} FAQ
      .homepage-header-dialer-actions
        .homepage-header-actions-button
          .homepage-header-actions-button
            - if rep_dialer_signed_in? 
              = link_to destroy_rep_dialer_session_path, method: :delete, class: "flat-button homepage-button-left", id: "header-logout-button" do
                %span Sign Out
            - else
              = link_to rep_dialer_omniauth_authorize_path(provider: "linkedin", type: "family"), method: :post do
                = image_tag "connect_with_linkedin.gif", style: "margin-top: -1.0em;"

          .homepage-header-actions-button
            - if family_signed_in?
              %a#header-account-button.flat-button.homepage-button-right{href: "/family/account"}
                %span Account
