.account{
	min-height: 500px;
	padding-left: 20px;
	padding-right: 50px;
	.account-header{
		color: rgb(141, 198, 63);
        margin-bottom: 50px;
		span{
			font-size: 20px;
            font-weight: 700;
		}
	}
    .account-body{
    	span, p{
    		color: #6f6f6f;
    		font-size: 14px;
    		line-height: 28px;
    	}
    }        
}
    