$dark-gray: rgb(96, 96, 96);
$buynance-blue: rgb(37, 170, 225);
$buynance-green: #8dc63f;
$lato-bold: "latobold", Arial, sans-serif;
$lato-regular: "latoregular", Arial, sans-serif;
$lato-italics: "latoitalics", Arial, sans-serif;
$lato-light: 'latolight', Arial, sans-serif;

.mca-calculator{
    .mca-calculator-left { 
        padding-left: 6.0em;
        padding-right: 6.0em;
        padding-bottom: 6.0em; 
        width: 50.0em;
        margin-left: 2.5em;
        float: right;
        position: relative;
        .mca-calculator-left-fold{
            position: absolute;
            right: 0;
            top: 0;

            img{
                margin-right: -.1em;
                margin-top: -.1em;
                width: 5.1em;
                height: 4.5em;
            }
        }

    }
    .mca-calculator-right {
        

        padding-left: 6.0em;
        padding-right: 6.0em;
        padding-bottom: 6.0em;
        width: 50.0em;
        margin-right: 2.5em;
        float: left;
        position: relative;
        .mca-calculator-right-fold{
            position: absolute;
            right: 0;
            top: 0;

            img{
                margin-right: -.1em;
                margin-top: -.1em;
                width: 5.1em;
                height: 4.5em;
            }
        }

        .mca-calculator.paper-header{
            color:  #20acd7;
            margin-bottom: .4em !important;
        }
    }

    .mca-calculator-header{
        font-family: 'latobold', Arial, sans-serif;
        text-align: center;
        span{
            font-size: 2.4em;
        }
    }

    .mca-calculator-subheader{
        text-align: center;
        font-family: 'latobold', Arial, sans-serif;
        color: $dark-gray;
        margin-bottom: 2.0em;
        margin-bottom: 2.0em;
        span{
            font-size: 1.6em;
        }

    }

    .mca-calculator-section{
      font-family: 'latoregular', Arial, sans-serif;
        margin-bottom: 2.0em;
        margin-top: 2.0em;
        span{
            font-size: 1.4em;
            font-weight: 400;
        }
    }
}