#dialer_work.dialer-fluid
  .dialer-section
    .dialer-section-header.highlight-blue
      %span How Does This Work?
    .dialer-section-text{style: "margin-bottom: 20px;"}
      %span Hi, I’m Jay Ballentine – Head of the Family.  I am super excited by what we have built. 
    .dialer-section-text{style: "margin-bottom: 20px;"} 
      %span I started off as a cold call lead generator in the business cash advance industry and ultimately grew into a broker, marketing thought leader, author, and ultimately marketing consultant.  Buynance, for all intents and purposes has been a work in progress for the better part of 4 years.  Life is full of fits and starts. One thing remains constant; winners always dust themselves up and get back up.  We set ambitious goals for the Buynance Family, achievable goals.  So, when you’re accepted in, it is because we will have felt like you have what it takes to win.  I want to take a moment to emphasize teamwork because that’s what this is about.  We are here to help, support, and push each other to be nothing but great.  Great teams start with great people.  For those of you who will be accepted into the Family, let me congratulate you in advance and leave you with this…
    .dialer-section-text 
      %span Hard work pays off.  Dreams do come true.  Bad times don’t last…  But good guys do.
