#dialer_help.dialer-fluid-gray
  .dialer-section
    .dialer-section-header.highlight-green
      %span The Buynance Difference
    .dialer-section-text{style: "margin-bottom: 40px;"}
      %span{style: "font-family: latobold; margin-right: 10px; color: #20acd7;"} RESPECT: 
      %span Most alternative business funding companies rely on their brorker partners to produce business.  However, they have little respect or regard for them.  This is where they are weak.  This is where Buynance is strong.  Most firms want you to come on board produce business and kick you to the curb with absolutely nothing when it’s time for you to leave.  You will have worked hard, built a book, only to have nothing when you decide to fly on your own.  We’re turning that model on its head.  While you will always be considered family, our goal is to push you from the nest in 9 months.  Every Family member is expected to earn themselves no less than $100k in their first 9 months.  Those who reach this goal, will leave with the book of business that generated that $100k without fear of being sued. 
      %br
    .dialer-section-text{style: "margin-bottom: 40px;"}
      %span{style: "font-family: latobold; margin-right: 10px; color: #20acd7;"} EXPEDIENCY: 
      %span Most firms are heavily paper driven.  In order to get an approval and to get a deal done, you have to fight with the business owner for pieces of paper.  Not with Buynance.  Generally speaking, when you get a deal done you have to wait a week or more to be paid.  Not with Buynance.  Buynance pays same day commissions.
      %br 
    .dialer-section-text
      %span{style: "font-family: latobold; margin-right: 10px; color: #20acd7;"} MARKETING: 
      %span Some of you will start off on our dialers.  That’s only the start.  Jay Ballentine – Head of the Family, marketing consultant and author of “Mastermind: Merchant Cash Advance Marketing Vol. 1.” stands ready to invest his time, energy, and genius into helping all members of the Family generate consistent pipelines of inbound leads.  We are data driven marketing fanatics and firmly believe you should do all you can to meet customers where they are likely to be.  Nonetheless, you will learn things that will sustain your small business funding practice, long after Buynance.  
      %br
