.web_body
  .paper-section
    .paper-section-header
      Disclaimer
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .paper-section-bank-login-left.col-xs-7
        .paper-section-bank-login-left-header
          %span Disclaimer Information
        .paper-section-bank-login-left-information
          %span By continue you have agreed that you have read the following disclaimer and accept them.
        .paper-section-bank-login-left-disclaimer
          %textarea{readonly: "readonly"}
            :preserve
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue rhoncus pulvinar. Fusce feugiat ultricies libero, in congue risus aliquam vitae. Mauris auctor urna mauris. Mauris tempus neque vel ante adipiscing, eget rutrum nunc commodo. Suspendisse faucibus sapien velit, eget fringilla justo sodales in. Duis eget pharetra sapien. Vivamus et egestas quam, quis venenatis ligula. Cras eros ligula, sodales eu libero quis, hendrerit tempus nisi. Cras nec ultricies tellus. Praesent eros lorem, rutrum non lorem ac, sollicitudin sodales dolor. Maecenas scelerisque est nec fringilla ullamcorper.

              Mauris ullamcorper varius sapien ut tempor. Integer vitae cursus ante. Curabitur id sem in sapien ullamcorper tincidunt eget vel enim. Ut lectus purus, hendrerit vel velit in, elementum blandit turpis. Integer rutrum fringilla nibh quis aliquet. Quisque sit amet nulla id leo molestie ornare ut at orci. Aenean eget eros vehicula, euismod elit in, tincidunt mi. Curabitur tempor vulputate lacus, tincidunt fermentum erat malesuada dictum. Nam at felis ut enim interdum accumsan ultrices a enim. Nulla sollicitudin nisl a tortor vestibulum, sit amet placerat ligula euismod.

              Integer elementum sem nec vulputate elementum. Morbi volutpat eget eros ac lacinia. Nam nec leo eu sapien mattis dictum. Aenean et lacus cursus, consequat ante quis, egestas mauris. Quisque eu diam vitae mauris lacinia placerat. Nam pulvinar, odio non interdum fringilla, arcu eros rutrum turpis, sit amet convallis risus erat nec magna. Ut venenatis justo a dui cursus sagittis. Praesent eget quam sed nisi luctus scelerisque. Morbi lacinia tristique facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque gravida sapien non suscipit gravida. Sed consectetur massa nec feugiat gravida. Donec eu molestie arcu.

              Curabitur tempus et justo in venenatis. Donec elementum leo eget ultrices fermentum. In vulputate mauris non fringilla consectetur. Donec gravida ligula dolor, in placerat augue vehicula vitae. Duis volutpat est sed nunc bibendum sodales. Ut bibendum ullamcorper lorem tincidunt sagittis. Morbi id tortor at ante suscipit congue. Praesent a lectus magna. Fusce in mi turpis. Aliquam sodales commodo arcu, non tempor libero. Curabitur ut aliquam justo, non ullamcorper quam. Phasellus porta tortor vitae arcu tincidunt ultrices. Nunc varius id ligula pretium accumsan.

              Vivamus vulputate suscipit est, pharetra imperdiet risus consectetur nec. Vivamus vitae diam sagittis, tristique orci mattis, facilisis tortor. Donec aliquet aliquet urna, ac dignissim massa dictum at. Sed laoreet ligula ac ligula dignissim, eget pellentesque ante tincidunt. Nunc nec ipsum nunc. Aenean et fringilla orci. Aliquam dictum mattis augue ac congue. Aliquam interdum nunc vestibulum ante semper, quis adipiscing leo semper. Donec blandit, nunc sed tincidunt condimentum, sapien dui imperdiet magna, sit amet laoreet dolor magna quis purus. Maecenas nisl augue, mollis et mi ut, varius hendrerit erat.

              Fusce scelerisque tellus quis tellus molestie, sed fermentum nunc luctus. Nullam congue scelerisque sapien. Nam eleifend mi nec laoreet volutpat. Duis non congue augue. Integer congue felis a risus gravida, a venenatis lectus volutpat. Curabitur enim elit, elementum a eleifend eget, lacinia eget leo. Nullam mi est, pellentesque eu tincidunt id, ullamcorper sed ante. Integer tincidunt nulla nec risus mollis, nec hendrerit elit fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

              In hac habitasse platea dictumst. Cras luctus interdum dui ac dignissim. Quisque mauris metus, sodales non condimentum in, fringilla sit amet risus. Ut pulvinar non orci eu sodales. Vivamus sit amet odio sapien. Proin aliquam malesuada dolor, vitae pellentesque leo consequat ac. Pellentesque eleifend elit dolor, nec placerat magna lobortis vel. Duis fringilla a mauris ac dictum.

              Sed lacinia, lacus dictum tincidunt faucibus, libero libero accumsan orci, id convallis tortor elit at dolor. Duis tempus eget magna nec euismod. Mauris commodo leo at nisl elementum scelerisque. Nam venenatis nibh vel mi pellentesque, vel viverra nisl dignissim. Phasellus consequat consequat felis at euismod. Sed elementum tempus dui, vestibulum aliquet erat. Integer suscipit, dolor vitae interdum sagittis, justo metus euismod metus, tempor blandit risus tellus et nisl. Nam nec augue neque. Suspendisse ornare felis nec ullamcorper viverra. Ut euismod felis ut ornare laoreet. Proin nec vehicula libero. Aliquam posuere sem nec mauris laoreet volutpat id ut eros. Vivamus id felis nibh.

              Aenean bibendum leo eget velit pretium, eget laoreet libero porta. Duis pellentesque, ipsum ut mollis iaculis, lectus ante auctor neque, nec viverra orci diam ut mauris. Nunc feugiat dignissim pharetra. Praesent condimentum ornare ultrices. Vestibulum dictum tortor risus, ac tempor tortor molestie a. Nunc sem ipsum, hendrerit sed velit at, varius ullamcorper purus. Nullam consectetur, felis vel venenatis placerat, quam erat egestas dolor, ac congue lectus massa id odio. Proin sed tincidunt est. Aliquam pulvinar sapien dignissim erat aliquet pharetra. Pellentesque in aliquam libero. Nam ultrices sapien in auctor pretium. Donec commodo vestibulum metus in tincidunt. Proin malesuada dolor in pretium dapibus. In mattis urna sapien, et convallis justo tristique ac. Phasellus id eros auctor, euismod dolor vel, rhoncus tortor.

              Etiam in risus non ipsum ultrices semper et vel mi. Curabitur vel velit mi. Etiam lacus orci, pellentesque volutpat massa a, ultricies varius lorem. Quisque condimentum auctor dapibus. Praesent rhoncus sem eu ligula aliquam, in mattis orci feugiat. Duis et dolor lobortis, tempus lectus quis, cursus ipsum. Nam volutpat massa mattis, tempus ipsum vel, luctus libero.
        .paper-section-bank-login-form
          = simple_form_for @business, url: wizard_path do |f|
            .paper-section-bank-login-form-action
              = f.submit "Accept", class: "form-button flat-button button-submit"
      .paper-section-bank-login-right.col-xs-5.fix-overflow
        = render "shared/bank_sidebar"
