.web_body
  .paper-section
    .paper-section-header
      Important Information
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .paper-section-bank-login-left.col-xs-7
        .paper-section-bank-login-left-header
          %span Important Information
        .paper-section-bank-login-left-information
          %span 
          = "Congratulations, you qualify for our services. To protect you from hassle and to provide you with the best experience possible we have created a new phone number. Your phone number is" 
        .paper-section-bank-login-form
          = simple_form_for @business, url: wizard_path do |f|
            .paper-section-bank-login-form-action
              = f.submit "Accept", class: "form-button flat-button button-submit"
      .paper-section-bank-login-right.col-xs-5.fix-overflow
        = render "shared/bank_sidebar"
