.homepage-fluid-container{style: "padding-top: 0; padding-bottom: 0;"}
  .homepage-nav
    .homepage-header.homepage-header-container.clearfix
      .hompage-header-logo
        = link_to(image_tag("logo.jpg"), "/")
      .homepage-header-links.clearfix
        .homepage-header-links-section.homepage-header-links-why
          %a{href: '/about'} Why Buynance
        .homepage-header-links-section.homepage-header-links-blog 
          %a{href: "/blog"} Blog
        .homepage-header-links-section.homepage-header-links-phone
          = image_tag("phone_icon.jpg")
          %span 1-800-504-6302
        .homepage-header-links-section.homepage-header-links-email
          = image_tag("mail_icon.jpg")
          %span Email Us
      .homepage-header-actions
        .homepage-header-actions-button
          - if current_business 
            %a#header-logout-button.flat-button.homepage-button-left{href: "/logout"}
              %span Log Out
          - else
            %a#header-login-button.flat-button.homepage-button-left{href: "/login"}
              %span Log In
          .homepage-header-actions-button
          - if current_business 
            %a#header-account-button.flat-button.homepage-button-right{href: "/account"}
              %span Account
          - else
            %a#header-signup-button.flat-button.homepage-button-right{href: "/signup"}
              %span Sign Up