.homepage-fluid-container.homepage-nav{style: "padding-top: 0; padding-bottom: 0;"}
  .homepage-header.homepage-container.clearfix
    .hompage-header-logo
      = image_tag("logo.jpg")
    .homepage-header-links
      %ul
        %li.homepage-header-links-section 
          %span How This Works
        %li.homepage-header-links-section  
          %span Blog
        %li.homepage-header-links-section 
          = image_tag("phone_icon.jpg")
          %span 1-800-906-4909
        %li.homepage-header-links-section 
          = image_tag("mail_icon.jpg")
          %span Email Us
    .homepage-header-actions
      %ul
        %li.homepage-header-actions-button
          %a.flat-button.homepage-button-login{href: "/login"}
            %span Login
        %li.homepage-header-actions-button
          %a.flat-button.homepage-button-login{href: "/login"}
            %span Login
/      .homepage-header-links-section
/        %span How This Works
/      .homepage-header-links-section
/        %span BLOG
/      .homepage-header-links-section.clearfix
/        = image_tag("phone_icon.jpg")
/        
/      .homepage-header-links-section.clearfix
/        = image_tag("mail_icon.jpg")
/        %span Email Us
/    .homepage-header-actions.clearfix
/      
/        %a.flat-button.homepage-button-login{href: "/login"}
/          %span Login
/      .homepage-header-actions-button
/        %a.flat-button.homepage-button-login{href: "/login"}
/          %span Signup
  