%h2.text-center
  = link_to "https://www.facebook.com/sharer/sharer.php?s=100&p%5Burl%5D=profit.buynance.com&p%5Btitle%5D=buynance+Merchant+Cash+Advance+Profitability+Calculator&p%5Bsummary%5D=A+merchant+cash+advance+can+have+a+negative+impact+on+your+bottom+line.+Protect+your+business+first%2C+use+our+free+merchant+cash+advance+profitability+calculator+to+see+how+your+business+will+perform+during+the+life+of+your+merchant+cash+advance.", target: "_BLANK" do
    %span.st_facebook_large{displaytext: "Facebook", st_processed: "yes"}
      %span.stButton{style: "text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"}
        %span.stLarge{style: "background-image: url(http://w.sharethis.com/images/facebook_32.png);"}
        %img{src: "http://w.sharethis.com/images/check-big.png", style: "position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"}/
  = link_to "https://twitter.com/intent/tweet?text=Will%20you%20still%20be%20in%20business%20after%20your%20merchant%20cash%20advance?%20Calculate%20your%20post%20cash%20advance%20profit%20here:&url=http%3A%2F%2Fgoo.gl/7kjrE8", target: "_BLANK" do
    %span.st_twitter_large{displaytext: "Tweet", st_processed: "yes"}
      %span.stButton{style: "text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"}
        %span.stLarge{style: "background-image: url(http://w.sharethis.com/images/twitter_32.png);"}
        %img{src: "http://w.sharethis.com/images/check-big.png", style: "position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"}/
  = link_to "http://www.linkedin.com/shareArticle?mini=true&url=http://profit.buynance.com&title=buynance%20Merchant%20Cash%20Advance%20Profitability%20Calculator&summary=A%20merchant%20cash%20advance%20can%20have%20a%20negative%20impact%20on%20your%20bottom%20line.%20Protect%20your%20business%20first,%20use%20our%20free%20merchant%20cash%20advance%20profitability%20calculator%20to%20see%20how%20your%20business%20will%20perform%20during%20the%20life%20of%20your%20merchant%20cash%20advance.", target: "_BLANK" do
    %span.st_linkedin_large{displaytext: "LinkedIn", st_processed: "yes"}
      %span.stButton{style: "text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"}
        %span.stLarge{style: "background-image: url(http://w.sharethis.com/images/linkedin_32.png);"}
        %img{src: "http://w.sharethis.com/images/check-big.png", style: "position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"}/